.profilecard {
  width: 100%;
  height: calc(100vh - 130px);
}
.text1{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img {
  -webkit-user-drag: none;
}

.card-imag {
  width: 100%;
  height: calc(100vh - 130px);
  position: absolute;
  z-index: 0;
  opacity: 0.4 !important;
  object-fit: cover;
}

.scroll-shadow {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 6px;
}

@media (min-width: 500px) {
  .profilecard {
    width: 100%;
    height: calc(100vh - 120px);
  }
}

@media (min-width: 535px) {
  .profilecard {
    width: 530px;
    height: calc(100vh - 130px);
  }
}

@media (min-width: 600px) {
  .profilecard {
    width: 420px;
    height: calc(100vh - 120px);
  }
}

@media (min-width: 760px) {
  .profilecard {
    width: 470px;
    height: calc(100vh - 120px);
  }
}

@media (min-width: 768px) {
  .profilecard {
    width: 440px;
    height: calc(100vh - 140px);
  }
  .scroll-shadow {
    height: calc(100vh - 600px);
  }
}

@media (min-width: 1024px) {
  .profilecard {
    width: 440px;
    height: calc(100vh - 155px);
  }
}
